<!-- One -->
<section id="one">
	<header class="major">
		<div class="featured">
			<iframe
				src="https://player.vimeo.com/video/824901138?h=59560b873d"
				width="640"
				height="360"
				frameborder="0"
				allow="autoplay; fullscreen; picture-in-picture"
				allowfullscreen></iframe>
		</div>
		<h2>
			Below you can find a few samples of my work<br />
			and what I can bring to your next project.
		</h2>
	</header>
</section>
