---
import avatar from '../assets/avatar.jpeg';
---

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="#" class="image avatar"><img src={avatar} alt="" /></a>
		<h1>
			<strong>Hi, I'm Jim</strong>, a freelance videographer<br />
			looking to bring my skills & knowledge<br />
			to your next project!
		</h1>
	</div>
</header>
