---
import avatar from '../assets/avatar.jpeg';
---

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="#" class="image avatar"><img src={avatar} alt="" /></a>
		<h1>
			<strong>Hi, I'm Jim!</strong> A freelance videographer<br />
			looking to bring my skills & knowledge<br />
			to your next project!
		</h1>
		<ul class="icons">
			<li>
				<a href="mailto:jimcookemedia@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a>
			</li>
		</ul>
	</div>
</header>
